extends layout
 
block content
  .main.container
  .row.banner
    .col-12.col-md-offset-2
              h1=pageHeader.title
              small &nbsp;#{pageHeader.strapline}
  .row
    .col-md-6.col-md-offset-3
      .error= message
      .card
        .card-block
          h4
            a(href="/result") BUS
            small &nbsp;
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 125 High Street, Reading, RG6 1PS
          col-6.col-md-offset-3.result-map
          .card.card-primary
            .card-block
              h2.card-title Map
              img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
              .row
                .card
        .card-block
          h4
            a(href="/result") TRAIN
            small &nbsp;
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 125 High Street, Reading, RG6 1PS
          col-6.col-md-offset-3.result-map
          .card.card-primary
            .card-block
              h2.card-title Map
              img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
              .row
          button.btn.btn-primary(type='submit') Back